* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


img {
    max-width: 100%
}

input,
textarea {
    max-width: 100%
}
button{
    max-width: 100%;
    cursor: pointer;
}

.cont {
    width: 90%;
    margin: auto;
}

html {
    font-family: arial, helvitica, sans-serif;
}

.logo_text {
    /**/
    font-size: 25px;
    margin-top: 30px;
    font-weight: bold;
    z-index: 11;
}

.main_header {}

header {
    display: flex;
}
header nav{
    display: block;
    
}

header ul{ 
    width: 100%;
    background: rgba(255, 255, 255, 0.96);
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    padding: 0px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    z-index: 10;
}

header ul li {
    list-style: none;
    padding: 20px;
    
}

header ul li a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    padding-bottom: 5px;
    transition: 0.4s;
}
header ul li a::before{
    content: '';
    width:0px;
    height: 3px;
    background: #5FD4B1;
    position: absolute;
    top: 100%;
    left:0%;
    transition: 0.5s;
    mix-blend-mode: multiply;

}
header ul li a::after{
    content: '';
    width:0px;
    height: 3px;
    background: #EC0033;
    position: absolute;
    top: 100%;
    right: 0%;
    transition: 0.4s;
    mix-blend-mode: multiply;
}
header ul li:hover a::before{
    width: 50%;
    transform: translateX(100%);
}
header ul li:hover a::after{
    width: 50%;
    transform: translateX(-100%);
}
header ul li a:hover{
    color:#FF4040
}
#menu{
    display: none;
    position: fixed;
    right: 5%;
    top: 1%;
    background:rgba(255,255,255,0.76);
    width: 10%;
    height: 40px;
    z-index: 24;
    border-radius: 10px;
    
}
#menu a i{ 
    display: none;
    position: absolute;
    right: 40%;
    top: 25%;
    margin-bottom: 15px;
    z-index: 25;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.icon i{
    margin-bottom: 100px;
    font-size: 40px;
    color: white;
}
.icon i:hover{
    color: #aaa;
}

.text_web {
    margin-top: 50px;
    text-align: center;
    background: url("img/bg.jpg") no-repeat center / cover;
    width: 100%;
    color: white;
}

.text_web h1 {
    font-size: 60px;
    padding-top: 180px;
    padding-bottom: 40px;
}

.text_web p {
    font-size: 22px;
    margin-bottom: 105px;
}

.text_web button {
    width: 230px;
    cursor: pointer;
    padding: 21px 34px;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    margin-bottom: 180px;
}

.text_web button.our_ser {
    border: 2px solid white;
    transition: 0.3s ease;
    
}

.text_web button.our_ser:hover {
    background: rgba(0, 0, 0, 0.5);
}

.text_web button.hire_now {
    width: 230px;
    background: linear-gradient(0deg, #00897b, #00897b);

    padding: 23.4px 35px;
    transition: 0.4s ease;
}

.text_web button.hire_now:hover {
    background: linear-gradient(0deg, #00897b, #08BFAC);
}

.about_text {
    margin-top: 130px;
    text-align: center;
}

.about_text h2 {
    font-size: 30px;
    font-weight: bold;
}

.about_text p {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 125px;
}

.block_1 {
    text-align: center;
}

.about_img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 40px;
    margin-bottom: 130px;
}

#services {
    background: #e4fdf9;
}

.text_services {
    text-align: center;
}

.text_services h3 {
    padding-top: 160px;
    font-size: 30px;
    font-weight: bold;
}

.text_services p {
    margin-top: 23px;
    margin-bottom: 110px;
    font-size: 15px;
}

.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
}

.items {
    text-align: center;
    background: #fff;
    display: inline-block;
    transition: 0.3s ease;
}

.items:hover {
    -webkit-box-shadow: 0px 24px 82px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 24px 82px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 24px 82px -13px rgba(0, 0, 0, 0.75);
}

.items img {
    padding-top: 50px;
    padding-bottom: 35px;
}

.items img:first-child {
    display: none;
}

.items h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.itemworks_texts p {
    font-size: 15px;
    padding: 0 25px 0 25px;
    margin-bottom: 45px;
}

.items button {
    cursor: pointer;
    background: none;
    border: 2px solid black;
    padding: 13px 16px;
    font-size: 20px;
    margin-bottom: 45px;
    outline: none;
    margin-top: 40px;
}

.imems button:hover {
    background: rgba(0, 0, 0, 1);
}

.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 26px;
    padding-bottom: 120px;
}

.works {
    margin-top: 130px;
}

.works_text {

    text-align: center;
}

.works_text h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.works_text p {
    font-size: 15px;
    margin-bottom: 110px;
}

.button_work {
    text-align: center;
    margin-bottom: 115px;
}

.button_work button {
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 30px;
    background: none;
    border: 2px solid #00897b;
    outline: none;
    transition: 0.2s ease;
    margin-bottom: 20px;
}

.button_work button:hover {
    background: #00897b;
}

.img_work {
    text-align: center;
    
}
.showImg{
    text-align: center;

}
.img_work img{
    transition: 0.4s ease;
}

.img_work img:hover {
    filter: brightness(30%);
}

.view{

    margin-top: 130px; 
    margin-bottom: 130px;
}
.button_work_2{
    text-align: center;
}
button.view{
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 30px;
    background: none;
    border: 2px solid #00897b;
    outline: none;
    transition: 0.2s ease;
    margin-bottom: 100px;
}
button.view:hover{
    background: #00897b;
}

.pricing {
    background: #f0f1f1;
}

.pricing_text {
    padding-top: 130px;
    text-align: center;
    padding-bottom: 130px;
}

.pricing_text h1 {
    font-size: 30px;
    font-weight: bold;
}

.pricing_text p {
    margin-top: 30px;
    font-size: 15px;
}

.expensive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 30px;
}

.ex_block {
    text-align: center;
    background: #fff;
    display: inline-block;
    transition: 0.2s ease;
    margin-bottom: 120px;
}
.ex_block:hover{
    -webkit-box-shadow: 0px 24px 55px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 24px 55px -8px rgba(0,0,0,0.75);
box-shadow: 0px 24px 55px -8px rgba(0,0,0,0.75);
}

.ex_block p {
    width: 180px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    border-bottom: 1px solid #bfbfbf;
    margin: 0 auto;
}

.block_with_ex {
    margin-bottom: 30px;
    background: #3949ab;
    color: white;
    font-size: 25px;
    padding: 40px 30px;
}

.block_with_ex p {
    border-bottom: none;
}

.order {
    background: none;
    border: 2px solid black;
    padding: 20px 30px;
    margin-top: 65px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 55px;
    text-transform: uppercase;
}

.order:hover {
    color: white;
    background: #00897b;
    border:2px solid #00897b;
}

.our_team{

}
.our_team_text {

        margin-top: 120px;
        margin-bottom: 130px;
        text-align: center;
}
.our_team_text h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}
.our_team_text p{
    line-height: 24px;
    font-size: 15px;
}
.avatar_sot{
    text-align: center;
}
.avatar_sot h3{
    margin-top: 35px;
    font-size: 20px;
    font-weight: 400;
}
.avatar_sot p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.social{

}
.social ul{
    display: flex;
    justify-content: center;

}
.social li{
    list-style: none;
}
.social a{
    text-decoration: none;
    font-size: 20px;
    color: #00897b;
    margin-right: 5px;
    margin-left: 5px;
    padding: 7px 13px;
    border-radius: 7px;
    transition: 0.2s ease;
}
.social a:hover{
    background: #3949ab;
    color: white;
}
.cont{
    text-align: center;
}
.avatars{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    justify-content: center;
    grid-gap: 10px;
    margin-bottom: 130px;

}
.blog{
    background: #e4fdf9;
}
.blog_text{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 130px;
}
.blog_text h2{
    font-size: 30px;
    margin-bottom: 25px;
}
.blog_text p{
    font-size: 15px;
    line-height: 25px
}
.block_main_1{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.block_main_1 h1{
    margin-top: 60px;
    font-size: 25px;
    cursor: pointer;
    margin-left: 25px;
    margin-bottom: 25px;
}
.block_main_1 h1:hover{
    color: #00897b;
}
.block_main_1 p{
    margin-left: 25px;
    font-size: 15px;
    margin-bottom: 30px;
}
.asdasd{
    margin-top: 100px;
    text-align: center;
}
footer{
    background: url("footer_bg/footer_bg_1.jpg");
    color: white;
}
.footer_text{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
}
.locaion{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    grid-gap: 40px;
}
.footer_text h2{
    margin-bottom: 25px;
    font-size: 30px;
}
.footer_text p{
    font-size: 15px;
}
.location_block{
    font-size: 20px;
    text-align: center;
    margin-bottom: 80px;
}
.location_block p{
    margin-top: 20px;
}

form input{
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 7px;
    border:none;
    outline: none;
    margin-left: 30px;
    margin-bottom: 30px;
}
form textarea{
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 7px;
    margin-left: 20px;
    resize: none;
    outline: none;

}
.send{
    text-align: right;
}
form {
    margin:auto;
    text-align: center;
    max-width: 700px;
}
form button{
    margin-top: 25px;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 8px;
    background: #fff;
    border:none;
    outline: none;
    text-transform: uppercase;
    margin-right: 13px;
    margin-bottom: 100px;
    cursor: pointer;

}
form button:hover{
    background: #ccc;
}
.footer_last{
    text-align: center;
    padding: 20px 0px 20px 0px;
}
