* {
    font-family: arial, sans-serif;

    margin: 0;
    padding: 0;

    color: #303239;
}

.cont {
    width: 900px;
    margin: auto;
}

.top_cont {
    display: flex;

    margin-top: 20px;

    justify-content: space-between;
}





nav {
    padding: 5px;
}

nav ul {
    display: flex;

    justify-content: flex-end;
}

nav li {
    padding: 10px 15px;

    list-style: none;
}

.get {
    margin-left: 80px;
    padding: 10px 26px;

    transition: .2s ease;

    border-radius: 8px;
    background: #2020df;
}

.get:hover {
    background: #122faa;
}

.get a {
    font-weight: bold;

    color: white;
}

nav a {
    font-size: 20px;

    text-decoration: none;

    color: #30333a;
}

nav li a:last-child {
    font-size: 20px;

    text-decoration: none;

    color: white;
    color: #30333a;
}

nav li a:hover {
    color: #2020df;
}



.item1 {
    display: flex;

    margin-top: 70px;
    margin-right: 230px;

    justify-content: center;
}

.item2 {
    position: relative;
    top: -70px;
    left: -60px;

    display: flex;

    justify-content: flex-end;
}



.content h1 {
    font-size: 58px;

    position: relative;
    top: -40px;
}



.content p {
    font-size: 19px;

    margin-left: 15px;
}

.logotips {
    display: flex;

    width: 464px;
    height: 129px;

    border-radius: 0 0 30px 30px;
    background-color: rgb(167, 165, 239);

    justify-content: center;
    align-items: center;
}

.logotips_flex {
    position: relative;
    top: -50px;

    display: flex;

    justify-content: flex-end;
}

.data {
    margin-top: 130px;
}

.title {
    margin-top: 40px;
}

.title p,
h2 {
    margin-left: 80px;
}

.title p {
    margin-top: 30px;

    color: #8c8c98;
}

.title h2 {
    font-size: 32px;
}

.check {
    position: relative;
    bottom: -38px;

    display: flex;

    width: 35px;
    height: 35px;

    border-radius: 15px 4px 15px 4px;
    background-color: rgb(32, 32, 223);

    justify-content: center;
    align-items: center;
}

.about {
    display: inline-block;
}

.images_3 {
    position: relative;
    top: -110px;

    display: inline-block;

    margin-left: 81px;
}

.data {
    margin-bottom: 170px;
}

.upto {
    font-size: 135px;
}

.left_font {
    display: flex;

    flex-wrap: nowrap;
}



.left {
    display: flex;

    width: 1390px;
    height: 420px;

    background: url(left_fon.jpg) no-repeat center / cover;

    justify-content: flex-end;
    align-items: center;
}

.left h1 {
    font-size: 125px;

    margin-right: -94px;

    color: white;
}

.text {
    margin-left: 100px;

    flex-basis: 50px;
}

.text_1 {
    font-size: 42px;
    font-weight: bolder;
}

.text_2 {
    font-size: 14px;
    line-height: 25px;

    display: flex;

    margin-top: 30px;
    margin-bottom: 45px;

    color: #8c8c98;
}

.left_font {
    overflow: hidden;
}

.left_font a {
    font-size: 13px;
    font-weight: 600;

    margin-top: 100px;
    margin-left: 100px;

    color: #c3acac;
}

.text_process {
    margin-top: 170px;
}

.text_process h1 {
    font-size: 58px;
}

.text_process p {
    font-family: 19px;

    margin-top: 30px;

    color: #303239;
}

.form {
    display: flex;

    width: 730px;
    margin-top: 100px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.form img {
    padding: 29px 17px;

    border-radius: 40px 3px 40px 3px;
    background: #dde8ff;
}

.text_form {
    font-size: 42px;

    display: flex;

    width: 800px;
    margin-top: 40px;

    justify-content: space-between;
}

.form_bot_text {
    line-height: 25px;

    display: flex;

    margin-top: 40px;
    margin-bottom: 140px;

    color: #8c8c98;

    justify-content: space-between;
}

.form_bot_text_1,
.form_bot_text_2,
.form_bot_text_3 {
    width: 250px;
}

.comments {
    width: 100%;

    background: #dde8ff;
}

.people {
    display: inline-block;

    padding: 100px 90px;

    border-radius: 250px 30px 250px 30px;
    background: white;
}

.comments_second {
    display: flex;
}

.kowi {
    display: flex;

    align-items: flex-start;
}

.amazing {
    margin-top: -80px;
    margin-left: -60px;
	 align-self: center;
}

.amazing h1 {
    font-size: 38px;

    width: 400px;
}

.amazing p {
    margin-top: 45px;
}

.sponsors {
    float: left;
}

.title_3 {
    display: inline-block;

    margin-top: 160px;
}

.title_3 h1 {
    font-size: 42px;
}

.title_3 p {
    font-size: 17px;

    margin-top: 35px;

    color: #8c8c98;
}

.icon_spon {
    float: right;
}

.main_sponsors {
    display: grid;

    margin-top: 120px;
    margin-bottom: 100px;

    grid-template-columns: min-content min-content;
}

.clear {
    clear: both;
}

.main_sponsors img {
    padding: 30px;

    border-radius: 40px 3px 40px 3px;

    flex-basis: 100px;
}

.ready {
    display: flex;

    width: 100%;
    height: 220px;

    background: #5271ff;

    align-items: center;
}

.ready h1 {
    font-size: 42px;
    font-weight: 200;

    margin-left: 90px;

    color: white;
}

.ready p {
    font-weight: 200;

    margin-left: 150px;

    color: white;
}

.ready a
{
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2;

    margin-left: 70px;
    padding: 20px 30px;

    transition: .3s ease;
    text-decoration: none;

    color: rgb(48, 50, 58);
    border-radius: 3px;
    background: #fff;
    box-shadow: 8px 0 130px black ;
}
.ready a:hover
{
    background: #F9DA7B;
}
.releativ_fon{
	position: relative;
}
.fon_footer{
	position: absolute;
	top: -90px;
	z-index: -1;
	width: 100%;
	height: 600px;
	background: #e2ebff;

}
.footer{
	margin-top: 200px;
	color: black;
}
.footer_grid{
	display: grid;
	grid-template-columns: 120px min-content min-content min-content;
	grid-column-gap: 100px;
	line-height: 23px;

}
.footer_grid a{
	color: #8c8c98;
	font-size: 14px;
}
.footer_grid b a {
	font-size: 17px;
	color: #30323a;
}
.footer_grid a{
	text-decoration: none;
}


.second, .third, .fourth{
	margin-left: 80px;
}
.first{
	color: #30323a;
}
.last_word{
	color: #30323a;
	margin-top: 130px;
}